#card {
	border: 1px solid #d9d9d9;
	width: 300px;
	padding: 10px;
	margin: 0 auto;
	box-shadow: 5px 5px 2px #d9d9d9;
}
img {
	margin-bottom: 5px;
}
#info {
	border: 1px solid #d9d9d9;
	width: 278px;
	padding: 10px;
	font-size: 0.85em;
}
h3 {
	margin-top: 5px;
}
.fact {
	font-style: italic;
	margin-top: 5px;
}
.boldList {
	font-weight: bold;
}
ul {
	list-style-type: none;
	padding-left: 0;
}
